In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

df= pd.read_csv('multilinearregression.csv', sep = ';')

In [2]:
df

   alan  odasayisi  binayasi   fiyat
0   180          5        10  510000
1   225          4        18  508000
2   260          3         2  548000
3   320          6        10  650000
4   335          4         9  628000
5   345          5        14  632000
6   355          3         0  680000
7   400          4        10  725000

In [3]:
df[['alan', 'odasayisi', 'binayasi']]

   alan  odasayisi  binayasi
0   180          5        10
1   225          4        18
2   260          3         2
3   320          6        10
4   335          4         9
5   345          5        14
6   355          3         0
7   400          4        10

In [4]:
df['fiyat']

0    510000
1    508000
2    548000
3    650000
4    628000
5    632000
6    680000
7    725000
Name: fiyat, dtype: int64

In [6]:
reg = linear_model.LinearRegression()
reg.fit(df[['alan', 'odasayisi', 'binayasi', ]], df['fiyat'])

reg.predict([[230,4,10]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([530243.29284619])

In [22]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [23]:
import pickle

In [24]:
mymodel = pickle.load(open("evfiyattahmini_mlr_model.pickle", 'rb'))

In [25]:
mymodel.predict([[230,4,10]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([530243.29284619])

In [26]:
mymodel.predict([[230,4,10], [230,6,0], [355,3,20]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([530243.29284619, 586097.7833456 , 616657.45791365])

In [16]:
modelfile = "evfiyattahmini_mlr_model.pickle"

In [18]:
pickle.dump(reg, open(modelfile, 'wb')) 
#wb: open for writing and open in binary mode.

In [7]:
reg.predict([[230,6,0]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([586097.7833456])

In [8]:
reg.predict([[355,3,20]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([616657.45791365])

In [10]:
reg.predict([[230,4,10], [230,6,0], [355,3,20]])

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([530243.29284619, 586097.7833456 , 616657.45791365])

In [11]:
reg.coef_

array([ 1018.99865454, 14893.82374984, -2606.68429997])

In [12]:
reg.intercept_

262365.1503032055

In [14]:
a = reg.intercept_
b1 = reg.coef_[0]
b2 = reg.coef_[1]
b3 = reg.coef_[2]

x1 = 230
x2 = 4
x3 = 10
y = a+ b1*x1 + b2*x2 + b3*x3

y

530243.2928461881